* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url("https://t4.ftcdn.net/jpg/00/59/95/89/360_F_59958917_1SvEPqvKnrGr68THJ35hqQUiHwQ6WhCN.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}

p {
  color: white;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
 
}

.outer-container {
  border: 1px solid black;
  margin: auto;
  height: 100vh;
  width: 70vw;
}

.top-container {
  border: 1px solid green;
  height: 80%;
  display: flex;
}

.left-container {
  border: 1px solid rgb(22, 193, 96);
  width: 50%;
  height: 100%;
}

.type {
  border: 1px solid black;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.img-container {
  border: 1px solid black;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://t4.ftcdn.net/jpg/00/59/95/89/360_F_59958917_1SvEPqvKnrGr68THJ35hqQUiHwQ6WhCN.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}

.img-style {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* border: 1px solid black; */
}

#captain-img{
  transition: transform 0.5s ease;
}

.move-right {
  animation: moveRight 0.5s forwards;
  border:2px solid red;  
}

@keyframes moveRight {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(20px); /* Move right by 20px */
  }
  100% {
      transform: translateX(0);
  }
}


/* Move alien  image left  */
#alien-img {
  width: 200px; /* Adjust size as needed */
  transition: transform 0.5s ease;
}

.move-left {
  animation: moveLeft 0.5s forwards;
  border:2px solid red; 
}

@keyframes moveLeft {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-20px); /* Move left by 20px */
  }
  100% {
      transform: translateX(0);
  }
}



.fire-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

.fire-btn {
    width: 120px;
    height: 35px;
    display: flex;
align-items: center;
justify-content: center;
  border: 1px solid white;
 
  cursor: pointer;
}

.aliens-left {
  width: 120px;
  text-align: center;
}
.bottom-row {
  height: 10%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid white;
}

.bottom-row p {
  border: 1px solid white;
  width: 120px;
    height: 35px;
    display: flex;
align-items: center;
justify-content: center;
}

.right-container {
  border: 1px solid blue;
  width: 50%;
  height: 100%;
}

.bottom-container {
  border: 1px solid red;
  height: 20%;
display: flex;
align-items: center;
justify-content: space-around;
}

.captain-turn, .start ,.alien-turn ,.retreat{
    border: 1px solid white;
    width: 120px;
    height: 35px;
    display: flex;
align-items: center;
justify-content: center;
}

.start, .retreat{
    cursor: pointer;
}


.dnone{
    display: none;
}

.btn-styles{
font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: brown;
  font-size: 1.4rem;
}

/* .big-sz{
  font-size: 2rem;
} */